.tabla-menu{
	margin:0 auto;
	padding:5px;
	width: 20%;
	height: 100%;
	display: table-cell;
	border-radius: 15px;
}
.boton{
	background-color: #616161;
	color: #ffffff;
	border-radius: 15px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.boton:hover{
	background-color: #212121;
	color: #ffffff;
	border-radius: 15px;
	margin-top: 10px;
	padding: 10px;
}