div.panel-general{
	width: 90%;
	display: inline-table;
}
div.panel-main{
	width: 95%;
	display: inline-table;
}
div.panel-menu{
	display: table-cell;
}
div.panel-modulo-crud{
	display: table-cell;
}
div.panel-modulo{
	display: table-cell;
	margin-bottom: 5px;
}
div.panel-modulo-info{
	display: table-cell;
	margin-bottom: 5px;
}

div.tabla-crud{
	background-color: #FFF;
	margin:0 auto;
	padding:5px;
	/*background-color: #fdd804;*/
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 15px;
}